<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Message Admin</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <link th:href="@{/css/account.css}" rel="stylesheet">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/js/account.js}" charset="utf-8"></script>
    <script type="text/html" id="operation">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    </script>
</head>

<body>
<fieldset class="layui-elem-field layui-field-title">
    <legend>账户查询</legend>
</fieldset>

<div class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">账户ID</label>
            <div class="layui-input-inline">
                <input type="text" id="accountId" name="accountId" autocomplete="off"
                       placeholder="请输入账户ID" class="layui-input"/>
            </div>
        </div>

        <div class="layui-inline">
            <button id="search" data-type="reload" class="layui-btn">查询</button>
            <button id="reset" class="layui-btn layui-btn-normal">重置</button>
            <button id="add" class="layui-btn layui-btn-warm">新增</button>
        </div>
    </div>
</div>

<fieldset class="layui-elem-field layui-field-title">
    <legend>查询结果</legend>
</fieldset>

<table class="layui-hide" id="accounts" lay-filter="type"></table>
</body>
</html>